.hero.has-carousel {
  min-height: (480px - $container-offset)*(9/16);

  @include c-mobile {
    min-height: ($mobile - $container-offset)*(9/16);
  }

  @include tablet {
    min-height: ($tablet - $container-offset)*(9/16);
  }

  @include desktop {
    min-height: ($desktop - $container-offset)*(9/16);
  }
}

.hero-carousel img {
  max-width: 480px;

  @include c-mobile {
    max-width: $mobile;
  }

  @include tablet {
    max-width: $tablet;
  }

  @include desktop {
    max-width: $desktop - $container-offset;
  }
}

.pages-cluster .excerpt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.has-text-youtube {
  color: $brand-youtube;
}
