.social-networks {
  .social-network {
    display: inline-block;
    width: $size-3;
  }
}

.network-linkedin {
  color: var(--brand-linkedin);
}

.network-facebook {
  color: var(--brand-facebook);
}

.network-youtube {
  color: var(--brand-youtube);
}

.network-whatsapp {
  color: var(--brand-whatsapp);
}

.footer {
  @media print {
    display: none;
  }
}
